<h2 class="text-center"> Public Recipes </h2>
<% @public_recipes.each_with_index do |public_recipe, index| %>
  <%= link_to recipe_path(public_recipe[:id]) do %> 
    <div class="row border m-5">
      <div class="col-3">
        <h3> <%= public_recipe[:name] %> </h3>
        <p> By: <%= public_recipe[:user] %> </p>
      </div>
      <div class="col-offset-1 col-8">
        <h6> Total food items: <%= public_recipe[:food_items] %></h6>
        <h6> Total price: $<%= @total_price[index] %></h6>
      </div>
    </div>
  <% end %>
<% end %>
