<div class="m-3">
  <h3>All Recipes</h3>
  <div class="d-flex justify-content-end m-3">
    <button class='btn btn-outline-info'>
      <%= link_to 'Add new recipe', new_recipe_path, class: "nav-link" %>
    </button> 
  </div>

  <div class="row m-3">
    <% @recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe.id) do %>
      <div class="col-3 border p-3">
        <h3><%= recipe.name %></h3>
        
        <% if can? :destroy, recipe %>
        <%= button_to "Remove", recipe_path(recipe.id ), :method => :delete, class: "del" %> 
        <% end %>

      </div>
      <div class="col-offset-1 col-8 border p-3">
        <p><%= recipe.description %></p>
      </div>
      <% end %>
  <% end %>
  <div>

</div>