<div>
  <h3 class='m-3'> Add Recipe</h3>
  <%= form_with url: recipes_path, scope: :recipe do |form| %>
    <%= form.text_field :name, placeholder: 'Please enter name', class: 'row m-3', require: true %>
    <%= form.text_field :prepration_time, placeholder: 'Please enter theprepration time', class: 'row m-3', require: true %>
    <%= form.text_field :cooking_time, placeholder: 'Please enter the cooking time', class: 'row m-3', require: true %>
    <%= form.text_area :description, placeholder: 'Please enter the description', class: 'row m-3', require: true %>
    <%= form.submit "Submit" %>
  <% end %>
</div>