<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <div id="user_nav"> 
      <% if user_signed_in? %> 
        Signed in as <%= current_user.email %>. This cannot be cheese? <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> 
      <% else %> 
        <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %> 
      <% end %> 
    </div> 
  </body>
</html>
